# Ignore bundler config
#/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp

# Ignore other unneeded files.
doc/
*.swp
*~
.project
.DS_Store

#don't know why this was added
#/config/database.yml

#keep assets from overriding what we have on heroku
#public/spree
.elasticbeanstalk/