<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Welcome to Box Concept <%= @booking.email %></h1>
    <p>
      This is a reminder for you.
      if you want to execute your booking time period,
      please click here <%= link_to "Booking","http://localhost:3000/de/bookings/new" %> 
     
    </p>
   
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>