@import 'bootstrap';


#toll-free{
float:left;
padding-left: 10%;

}

#truck-img{
	padding-top: 10px;
}

nav #main-nav-bar {
	background-color: #1AC4B9;
}
nav #main-nav-bar	li a {
		
			padding: 30px;
			font-size: 20px;
			color: white;
		
		}
 