<div id="language_chooser" style="padding-left:80%;">
<b><%= link_to "LOGIN",login_path %></b>
 <b> <%= link_to image_tag("us.png", :border => 0),:locale => :en%></b>
     <%= link_to image_tag("de.png", :border => 0),:locale => :de%></b>
</div>