<nav id="top-nav-bar" class="columns ten">
  <ul id="nav-bar" class="inline" data-hook>
  <div id="toll-free"><h3>	<b>0800 500 30 20</b><br/>
  TOLL FREE CALL!</h3>
  </div>
  
    <div id="truck-img">
    <%= image_tag("index.jpeg",:border => 0)%>
    </div>

  </ul>
</nav>
