    <div class="container-fluid">
      <div class="row-fluid">
   
        <div class="span2" style="border: 1px coral solid;height:200px;">
          Volume Calculator
        
        </div>
         <div class="span5" style="border: 1px coral solid;height:200px;">
          
        </div>
         <div class="span2" style="border: 1px coral solid;height:200px;">
          8 week rent---4 week  FREE!
        </div>
         
        <div class="span3" style="border: 1px coral solid;height:400px;">
          
       Request/Booking :
       The form will be here
       
          <%= render :partial=>"mini_form"%>

        </div>
        
      </div>
    </div>
 
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span2" style="border: 1px coral solid;height:100px;">
         KEEPING your personal storage box for you
        </div>
        <div class="span2" style="border: 1px coral solid;height:100px;">
          YOU LOADED the stuff directly before the doorstep
        </div>
        <div class="span3" style="border: 1px coral solid;height:100px;">
           WE BRING AB, CAMPS
           or DELIVER 1.75 / box including delivery their box
           to one new address
        </div>
        <div class="span2" style="border: 1px coral solid;height:100px;">
             packaging
             1.75 /carton
             including
             delivery
          
        </div>
        <div class="span3" style="border: 1px coral solid;height:100px;">
          <%= link_to "PRODUCTS",products_path %>

        </div>
      </div>
    </div>

    
 