    <!-- this is the code for slider -->
    <div class="banner-hold">
      <div class="banner">
          <div class="prev"></div>
            <div class="main"></div>
            <div class="next"></div>
        </div>
        <div class="ban-shad">
        <div class="btm-nav">
          <span>
            <a href="#"></a>
            <a href="#"></a>
            <a href="#"></a>
            <a href="#"></a>
            </span>
        <div class="clear"></div> 
        </div>
        </div>
        <div class="clear"></div>
    </div>


    <div class="container-fluid">
      <div class="row-fluid">
   
        <div class="span2">
          Volume Calculator
        
        </div>
         <div class="span5">
          
        </div>
         <div class="span2">
          8 week rent---4 week  FREE!
        </div>
         
        <div class="span3">
          
       Request/Booking :
       The form will be here
       
          <%= render :partial=>"mini_form"%>

        </div>
        
      </div>
    </div>
 
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span2" >
         KEEPING your personal storage box for you
        </div>
        <div class="span2" >
          YOU LOADED the stuff directly before the doorstep
        </div>
        <div class="span3" >
           WE BRING AB, CAMPS
           or DELIVER 1.75 / box including delivery their box
           to one new address
        </div>
        <div class="span2" >
             packaging
             1.75 /carton
             including
             delivery
          
        </div>
        <div class="span3" >
          <%= link_to "PRODUCTS",products_path %>

        </div>
      </div>
    </div>

    
 